{{#if event}}
<div class="event-content">
    <h2>Event:</h2>
    <p>Description: {{event.description}}</p>
    <p>Host: {{event.host}}</p>
    <p>Reservation Date: {{format_date event.reservation}}</p>
</div>

<div class="rooms">
    <h2>Rooms:</h2>
    {{!-- {{#each event.rooms as |room|}} --}}
    <div class="room">
    <p>Room Number: {{event.rooms.room_number}}</p>
    <p>Available Resources: {{event.rooms.available_resources}}</p>
</div>
<hr/>
{{!-- {{/each}} --}}
</div>
{{else}}
<p>No event found.</p>
{{/if}}
