<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{room.room-spec}}</title>
  </head>
  <body>
    <div class="room-card-layout">
      <section class="admin-tools-ui">
        {{admin-settings-tools}}
      </section>
      <section class="room-card">
        {{room-info-card}}
        {{event-info}}
      </section>
    </div>
    <div class="reservation-tool-ui">
      <!-- we can put the res controls here as a template literal if needed -->
      {{reservation-tool}}
    </div>
  </body>
</html>